.footer {
  padding: 90px 0 50px 0;
  background-color: $bg-dark;
  color: $text-color;

  .footer-logo {
    background-image: url(/creator252-JSFE2021Q3/museum-adaptive/images/svg/Louvre.svg);
    background-repeat: no-repeat;
  }

  .footer-wrapp {
    display: flex;
    column-gap: 139px;

  }


  ul {
    list-style: none;
  }

  .footer-text {
    font-family: $Forum;
    font-size: 28px;
    line-height: 31px;
    letter-spacing: 5px;
    text-transform: uppercase;
    padding-left: 76px;
  }

  .footer-nav-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 131px;

    .footer-nav-list-item {
      font-family: $Roboto;
      font-weight: 200;
      font-size: 22px;
      line-height: 26px;
      letter-spacing: 2px;
      padding-bottom: 17px;
      padding-right: 150px;
    }
  }

  .socials {

    padding-top: 60px;
    padding-left: 120px;

    .socials-item {
      display: inline-flex;
      width: 48px;
      height: 48px;
      border: 1px solid $text-color;
      border-radius: 50%;
      align-items: center;
      justify-content: space-evenly;

      &:hover {
        border: 1px solid $gold-color;
      }

    }
  }

  .line {
    position: relative;

    &::after {
      position: absolute;
      content: "";
      display: block;
      height: 3px;
      width: 100%;
      max-width: 1920px;
      background-color: $text-color;
      margin-top: 50px;
    }
  }

  .copyright {
    font-family: $Roboto;
    font-weight: 200;
    font-size: 22px;
    line-height: 22px;
    letter-spacing: 2px;
  }
}

.youtube {
  background-image: url(../../images/svg/Youtube.svg);
  background-position: 24px 24px;
  width: 24px;
  height: 24px;

  &:hover {
    background-image: url(/creator252-JSFE2021Q3/museum-adaptive/images/svg/Youtube-hover.svg);
  }
}

.instagram {
  background-image: url(/creator252-JSFE2021Q3/museum-adaptive/images/svg/Instagram.svg);
  background-position: 24px 24px;
  width: 24px;
  height: 24px;
}

.facebook {
  background-image: url(/creator252-JSFE2021Q3/museum-adaptive/images/svg/Facebook.svg);
  background-position: 24px 24px;
  width: 24px;
  height: 24px;
}

.twitter {
  background-image: url(/creator252-JSFE2021Q3/museum-adaptive/images/svg/Twitter.svg);
  background-position: 24px 24px;
  width: 24px;
  height: 24px;
}

.printerest {
  background-image: url(/creator252-JSFE2021Q3/museum-adaptive/images/svg/Pinterest.svg);
  background-position: 24px 24px;
  width: 24px;
  height: 24px;
}
